@page "{id:int?}"
@model csci340lab7.Pages.Cats.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cat.ID" />
            <div class="form-group">
                <label asp-for="Cat.Name" class="control-label"></label>
                <input asp-for="Cat.Name" class="form-control" />
                <span asp-validation-for="Cat.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cat.BirthDate" class="control-label"></label>
                <input asp-for="Cat.BirthDate" class="form-control" />
                <span asp-validation-for="Cat.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cat.Breed" class="control-label"></label>
                <input asp-for="Cat.Breed" class="form-control" />
                <span asp-validation-for="Cat.Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cat.FurPattern" class="control-label"></label>
                <input asp-for="Cat.FurPattern" class="form-control" />
                <span asp-validation-for="Cat.FurPattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
